.container{
    box-sizing: border-box;
    margin: 20px auto;
    width: 60vw;
    border: 3px solid #3366CC;
    border-radius: 9px;
    padding: 15px 20px;
    height: 70vh;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 3px; 
    height: 6px;
}

.container::-webkit-scrollbar-track {
    background-color: #333;
}

.container::-webkit-scrollbar-thumb {
    background-color: #08e;
    border-radius: 10px;
}

.filterContainer{
    display: flex;
    justify-content: end;
}

.filterButton{
    margin: 0 5px;
    padding: 6px 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: flex;
    background-color: rgb(23, 31, 60);
    color: rgb(241, 242, 244);
}

.filterButton:hover{
    background-color: rgb(23, 31, 100);
    transition: opacity 0.2s;
    cursor: pointer;
}

.taskContainer{
    margin: 14px 0;
}


/* ----------------- MEDIA QUERIES -------------------*/

@media (max-width: 1000px) {
    .container{
        width: 90%;
    }
}